@import "../../../styles/utils";

.columnBoard {
  height: 100%;
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0 16px;
  overflow: scroll;

  @include media(">tablet") {
    padding: 0 24px;
  }

  & > * {
    min-width: 280px;
  }
}
