
.boardForm {

  .boardColumnsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .columnList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;

    .columnItem {
      display: flex;
      align-items: center;
      gap: 16px;

      .input {
        flex: 1;

        &.hidden {
          display: none;
        }
      }

      .removeButton {
        background: transparent;
        border: 0;
        cursor: pointer;
      }
    }
  }

}
