@import "styles/utils";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--theme-natural-color);
  background: var(--theme-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
